main{
    position: relative;

    .section-home{
        position: relative;
        background: url("./images/background1.png");
        height: 135vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .text-home{
        padding: 9rem 4rem;
    
        h1{
            color: #fff;
            width: 570px;
        }

        span{
            margin-top: .5rem;
            display: block;
            color: #fff;
            width: 470px;
            
        }
    }

    .card-home{
        position: absolute;
        bottom: -7px;
        right: 0;

        img{
            width: 550px;
        }

    }

    @media(max-width: 952px){

        .section-home{
            height: 130vh;
        }
        
        .card-home{
            img{
                width: 500px;
            }
        }

        .section-card{
            width: 100%;
        }
        
    }

    @media(max-width: 780px){
        
        .text-home{
            padding: 9rem 2rem;
        }

        .card-home{
            position: relative;
            display: flex;
            justify-content: center;

            img{
                display: none;
            }
        }

        .section-card{
            flex-wrap: wrap;
            gap: 1rem;
        }   
    }

    @media(max-width: 590px){

        .text-home{
        
            h1{
                width: 95%;
                font-size: 1.8rem;
            }
    
            span{
                width: 100%;
                font-size: .8rem;
                
            }
        }
    }

    @media(max-width: 480px){
    
        .text-home{
            position: relative;
            top: 2.5rem;
            padding: 6rem 2rem;
        h1{
            width: 100%;
            font-size: 1.8rem;
        }

        span{
            width: 350px;
            font-size: .8rem;
            width: 100%;   
        }
    }

    .section-home{
        height: 110vh;
    }

    .card-home{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    }

    @media(max-width: 420px){
    
        .text-home{
        h1{
            width: 100%;
            font-size: 1.4rem;
        }
    }
    }

    @media(max-width: 380px){
    
        .text-home{

        h1{
            width: 100%;
        }

        span{
            width: 350px;
            font-size: .8rem;
            width: 100%;
            
        }
    }
    }

    @media(max-width: 343px){
    
        .text-home{

        h1{
            width: 100%;
            font-size: 1.3rem;
        }

    }
    }
    
    .section-card{
        position: relative;
        top: -4rem;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    
        @media(max-width: 1080px){
            width: 90%;
        }
        
            @media(max-width:728px){
                top: 4rem; 
                #card3{
                    margin-bottom: 8rem !important;
                }
            }

            @media(max-width: 550px){
                width: 99%;
            }

    @media(max-width: 380px){
        top: 2rem;

        #card3{
            margin-bottom: 4rem !important;
        }
    }

    @media(max-width: 345px){
        top: 2rem;
      
    }

    @media(max-width: 332px){
        top: 3rem;

        #card3{
            margin-bottom: 5rem !important;
        }
    }
    }

    .title{
       color: #111B22;
       text-align: center;
       margin-bottom: 4rem;

        @media(max-width: 380px){
                margin-bottom: 2rem;
        }

    }

    .section-quem-somos{
        position: relative;
        height: 507px;

        div{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(0%, 0%);
        }

        img{
            height: 100%;
        }

        @media(max-width: 1080px){
        height: 407px;
        
            div{
                top: 22%;
                left: 35%;
            }
    }

        @media(max-width: 780px){
            
            div{
                left: 30%;
            }

        }

        @media(max-width: 697px){
            
            div{
                left: 50%;
                transform: translate(-50%, 0%);
            }

            img{
                width: 100%;
                object-fit: cover;
            }

        }

        @media(max-width: 500px){

            
            div{
                top: 20%;
                left: 50%;
                transform: translate(-50%, 50%);
                width: 70%;
            }

            img{
                width: 100%;
                object-fit: cover;
            }

        }

        @media(max-width: 380px){
            
            div{
                span{
                    font-size: 14px;
                }
            }

        }
    }

    .section-img{
        height: 259px;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media(max-width:780px){
            display: none;
        }
    }

    .section-valores{
        margin-top: 4rem;
        position: relative;
        height: 507px;
        display: flex;
        justify-content: flex-end;

        .container-card{
            position: absolute;
            top: 30%;
            right: 20%;
            transform: translate(0%, 0%);

            div{
                position: relative;
                width: 450px;
                margin-bottom: 1.5rem;
                padding: 2rem 0rem 2rem 3rem;

                h2{
                    font-size: 1.4rem;
                }

                span{
                    font-size: .9rem;
                }

            }

        }

        img{
            height: 100%;
        }

        @media(max-width: 1080px){

        height: 500px;


        .container-card{
            top: 30%;
            right: 10%;
        }
     
        }

        @media(max-width: 950px){
            height: 500px;

            img{
                width: 100%;
                object-fit: cover;
            }

            .container-card{
                width: 100%;
                right: 0;
                top: 30%;

                div{
                    left: 50%;
                }

            }
        

        }

        @media(max-width: 780px){
            .container-card{
                top: 12%;
                display: flex;
                flex-direction: column;
                align-items: center;

                div{
                    left: 0%;
                }    
            }
        }

        @media(max-width: 697px){

            .container-card{
                top: 7%;
                div{
                    width: 65%;
                    padding: 2.5rem;
                }
            }

        }

        @media(max-width: 500px){
            margin-top: 8rem;
        }

        @media(max-width: 491px){
            margin-top: 10rem;
        }

        @media(max-width: 470px){
            .container-card{
                top: 1%;
            }
        }

        @media(max-width: 429px){
            margin-top: 13rem;
        }

        @media(max-width: 414px){
            margin-top: 15rem;

            .container-card{
                margin-top: 4%;
                div{
                    padding: 2rem;
                }
            }
        }

        @media(max-width: 402px){
            margin-top: 15rem;

            .container-card{
                margin-top: 6%;
                div{
                    padding: 1.5rem 2rem 1.5rem 2rem;
                }
            }
        }

        @media(max-width: 483px){
            .container-card{
                margin-top: -3%;
            }
        }

        @media(max-width: 470px){
            .container-card{
                margin-top: 0.1rem;
            }
        }
        
        @media(max-width: 414px){
            .container-card{
                margin-top: 1.1rem;
            }  
        }
        
        @media(max-width: 383px){
            .container-card{
            margin-top: 6% !important;
            }
        }

        @media(max-width: 380px){
            margin-top: 10rem;
            
            .container-card{
                margin-top: 5% !important;
            }
        }

        @media(max-width: 377PX){
            margin-top: 10rem;
        }

        @media(max-width: 366px){
            .container-card{
                margin-top: 2.3% !important;
            }
        }
 
        @media(max-width: 363px){
            margin-top: 12rem;
        }

        @media(max-width: 330px){
            margin-top: 16rem;
            
            .container-card{
                margin-top: 6.7% !important;
                div{
                    padding: 1.5rem;

                    span{
                        font-size: 12px;
                    }

                }
            }
        }

        @media(max-width: 305px){
            
            .container-card{
                margin-top: 3% !important;
            }
        }
    }

    .section-info-empresa{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8rem 0rem 8rem 0rem;
        text-align: center;

        div{
            width: 800px;

            h2{
                color: #0C1317;
            }

            span{
                color: #4E4E4E;
            }
        }

        hr{
            width: 100%;
            height: 6px;
            border: none;
            background-color: #0C1317;
        }

    }

}